<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Check if we are serving from build folder
  RewriteCond %{DOCUMENT_ROOT}/build/index.html -f
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_URI} !^/api/
  RewriteRule . /build/index.html [L]

  # Fallback if served directly from root
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_URI} !^/api/
  RewriteRule . /index.html [L]
</IfModule>
